
html
{
    width: 100%;
    margin: 0;
    padding: 0;
}


body {
  max-width: 1024px;
  min-width: 320px;
  font-size: 14px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

header {
  padding-top: 64px;
}

a {
  color: $brand-gold;
  cursor: pointer;

  &:hover {
    color: $brand-red;
  }

  &:active {
    color: $brand-red;
  }
}

input {
  border: none;
  background: none;

  &:focus {
      outline: none;
    }
}
