
@font-face {
  font-family: 'Houschka';
  src: url('../fonts/HouschkaMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka';
  src: url('../fonts/HouschkaBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka';
  src: url('../fonts/HouschkaLight.ttf');
  font-weight: 300;
  font-style: normal;
}


html
{
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  max-width: 1024px;
  min-width: 320px;
  font-size: 14px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

header {
  padding-top: 64px;
}

a {
  color: $marta-yellow;
  cursor: pointer;

  &:hover {
    color: $marta-orange;
  }

  &:active {
    color: $marta-orange;
  }
}

input {
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

button {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}
