
$brand-red: #c40505;
$brand-gold: #917f18;
$brand-dark: #000000;
$brand-light-grey: #e2e2e2;

$brand-green: #1E585E;
$brand-forest: #06464C;
$brand-ocean: #16D7E5;
$brand-grey: #A1A1A1;
$brand-light-grey: #ECECEC;
$brand-utility: #F26C4F;
$brand-light-green: #27949C;


$marta-blue: #3e78da;
$marta-yellow: #f7cd30;
$marta-orange: #ea7d09;


$viewport-sm: "screen and (min-width:320px) and (max-width: 500px)";
$viewport-med: "screen and (min-width:501px) and (max-width: 767px)";
$viewport-lg: "screen and (min-width:768px)";
$viewports-med-lg: "screen and (min-width:501px)";