//@todo: decide on global colors

$viewport-sm: "screen and (min-width:320px) and (max-width: 500px)";
$viewport-med: "screen and (min-width:501px) and (max-width: 767px)";
$viewport-lg: "screen and (min-width:768px) and (max-width: 1024px)"