<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="../../public/main.css">
</head>
<body>

<div class="carousel">
    <div class="carousel__slide">
        <div class="carousel__slide-title">What are we getting into?</div>
        <div class="activities">
            <button class="activities__btn" data-kw="dinner"><span>Dinner</span><i class="fa fa-film"></i></button>
            <button class="activities__btn" data-kw="movie"><span>Movie</span><i class="fa fa-film"></i></button>
            <button class="activities__btn" data-kw="park"><span>Park</span><i class="fa fa-cc-diners-club"></i></button>
            <button class="activities__btn" data-kw="bar"><span>Bar</span><i class="fa fa-beer"></i></button>
            <button class="activities__btn" data-kw="club"><span>Club</span><i class="fa fa-cc-diners-club"></i></button>
            <button class="activities__btn" data-kw="sports"><span>Sports</span><i class="fa fa-soccer-ball-o"></i></button>
        </div>
            <button disabled class="carousel__next-btn"><span>Let's Go Hunting</span><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="carousel__slide">

    </div>
    <div class="carousel__slide">

    </div>
</div>


</body>

</html>