<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="../../public/main.css">
</head>
<body>

<section>
    <div class="drawer__container">
        <div class="drawer">
            <div class="drawer__content">
                Bacon ipsum dolor amet Does everybody know that pig named Lorem Ipsum? She's a disgusting pig, right?

You're telling the enemy exactly what you're going to do. No wonder you've been fighting Lorem Ipsum your entire adult life. You could see there was text coming out of her eyes, text coming out of her wherever. The other thing with Lorem Ipsum is that you have to take out its family. Lorem Ipsum is the single greatest threat. We are not - we are not keeping up with other websites.

You could see there was text coming out of her eyes, text coming out of her wherever. Look at these words. Are they small words? And he referred to my words - if they're small, something else must be small. I guarantee you there's no problem, I guarantee. I’m the best thing that ever happened to placeholder text. The other thing with Lorem Ipsum is that you have to take out its family. An 'extremely credible source' has called my office and told me that Lorem Ipsum's birth certificate is a fraud.

Lorem Ispum is a choke artist. It chokes! I think the only card she has is the Lorem card.

You know, it really doesn’t matter what you write as long as you’ve got a young, and beautiful, piece of text. An 'extremely credible source' has called my office and told me that Lorem Ipsum's birth certificate is a fraud.
            </div>
        </div>
    </div>
    <div class="list">
        <div class="event">
            <div class="event__duration">
                <div class="event__duration-value">2</div>
                <div class="event__duration-unit">HR</div>
            </div>
            <div class="event__meta">
                <div class="event__title">Tummy Sticks</div>
                <div class="event__location">Cypress Street Pint and Place</div>
                <div class="event__time-location">
                    <div class="event__time-block">1:00PM-3:00pm</div>
                    <div class="event__location-link"><a href="/">show on map</a></div>
                </div>
            </div>
            <div class="event__distance">
                <div class="event__distance-value">0.5</div>
                <div class="event__distance-unit">mi</div>
            </div>
        </div>
        <div class="event">
            <div class="event__duration">
                <div class="event__duration-value">2</div>
                <div class="event__duration-unit">HR</div>
            </div>
            <div class="event__meta">
                <div class="event__title">Tummy Sticks</div>
                <div class="event__location">Cypress Street Pint and Place</div>
                <div class="event__time-location">
                    <div class="event__time-block">1:00PM-3:00pm</div>
                    <div class="event__location-link"><a href="/">show on map</a></div>
                </div>
            </div>
            <div class="event__distance">
                <div class="event__distance-value">0.5</div>
                <div class="event__distance-unit">mi</div>
            </div>
        </div>
        <div class="event">
            <div class="event__duration">
                <div class="event__duration-value">2</div>
                <div class="event__duration-unit">HR</div>
            </div>
            <div class="event__meta">
                <div class="event__title">Tummy Sticks</div>
                <div class="event__location">Cypress Street Pint and Place</div>
                <div class="event__time-location">
                    <div class="event__time-block">1:00PM-3:00pm</div>
                    <div class="event__location-link"><a href="/">show on map</a></div>
                </div>
            </div>
            <div class="event__distance">
                <div class="event__distance-value">0.5</div>
                <div class="event__distance-unit">mi</div>
            </div>
        </div>
        <div class="event">
            <div class="event__duration">
                <div class="event__duration-value">2</div>
                <div class="event__duration-unit">HR</div>
            </div>
            <div class="event__meta">
                <div class="event__title">Tummy Sticks</div>
                <div class="event__location">Cypress Street Pint and Place</div>
                <div class="event__time-location">
                    <div class="event__time-block">1:00PM-3:00pm</div>
                    <div class="event__location-link"><a href="/">show on map</a></div>
                </div>
            </div>
            <div class="event__distance">
                <div class="event__distance-value">0.5</div>
                <div class="event__distance-unit">mi</div>
            </div>
        </div>
        <div class="event">
            <div class="event__duration">
                <div class="event__duration-value">2</div>
                <div class="event__duration-unit">HR</div>
            </div>
            <div class="event__meta">
                <div class="event__title">Tummy Sticks</div>
                <div class="event__location">Cypress Street Pint and Place</div>
                <div class="event__time-location">
                    <div class="event__time-block">1:00PM-3:00pm</div>
                    <div class="event__location-link"><a href="/">show on map</a></div>
                </div>
            </div>
            <div class="event__distance">
                <div class="event__distance-value">0.5</div>
                <div class="event__distance-unit">mi</div>
            </div>
        </div>
        <div class="event">
            <div class="event__duration">
                <div class="event__duration-value">2</div>
                <div class="event__duration-unit">HR</div>
            </div>
            <div class="event__meta">
                <div class="event__title">Tummy Sticks</div>
                <div class="event__location">Cypress Street Pint and Place</div>
                <div class="event__time-location">
                    <div class="event__time-block">1:00PM-3:00pm</div>
                    <div class="event__location-link"><a href="/">show on map</a></div>
                </div>
            </div>
            <div class="event__distance">
                <div class="event__distance-value">0.5</div>
                <div class="event__distance-unit">mi</div>
            </div>
        </div>
        <div class="event">
            <div class="event__duration">
                <div class="event__duration-value">2</div>
                <div class="event__duration-unit">HR</div>
            </div>
            <div class="event__meta">
                <div class="event__title">Tummy Sticks</div>
                <div class="event__location">Cypress Street Pint and Place</div>
                <div class="event__time-location">
                    <div class="event__time-block">1:00PM-3:00pm</div>
                    <div class="event__location-link"><a href="/">show on map</a></div>
                </div>
            </div>
            <div class="event__distance">
                <div class="event__distance-value">0.5</div>
                <div class="event__distance-unit">mi</div>
            </div>
        </div>
    </div>
</section>


</body>

</html>