<html>
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="../../public/main.css">
</head>
<body>

<section>
<div class="list">
    <div class="event">
        <div class="event__duration">
            <div class="event__duration-value">2</div>
            <div class="event__duration-unit">HR</div>
        </div>
        <div class="event__meta">
            <div class="event__title">Tummy Sticks</div>
            <div class="event__location">Cypress Street Pint and Place</div>
            <div class="event__time-block">1:00PM-3:00pm</div>
        </div>
        <div class="event__distance">
            <div class="event__distance-value">0.5</div>
            <div class="event__distance-unit">mi</div>
        </div>
    </div>
    <div class="event">
        <div class="event__duration">
            <div class="event__duration-value">2</div>
            <div class="event__duration-unit">HR</div>
        </div>
        <div class="event__meta">
            <div class="event__title">Tummy Sticks</div>
            <div class="event__location">Cypress Street Pint and Place</div>
            <div class="event__time-block">1:00PM-3:00pm</div>
        </div>
        <div class="event__distance">
            <div class="event__distance-value">0.5</div>
            <div class="event__distance-unit">mi</div>
        </div>
    </div>
    <div class="event">
        <div class="event__duration">
            <div class="event__duration-value">2</div>
            <div class="event__duration-unit">HR</div>
        </div>
        <div class="event__meta">
            <div class="event__title">Tummy Sticks</div>
            <div class="event__location">Cypress Street Pint and Place</div>
            <div class="event__time-block">1:00PM-3:00pm</div>
        </div>
        <div class="event__distance">
            <div class="event__distance-value">0.5</div>
            <div class="event__distance-unit">mi</div>
        </div>
    </div>
    <div class="event">
        <div class="event__duration">
            <div class="event__duration-value">2</div>
            <div class="event__duration-unit">HR</div>
        </div>
        <div class="event__meta">
            <div class="event__title">Tummy Sticks</div>
            <div class="event__location">Cypress Street Pint and Place</div>
            <div class="event__time-block">1:00PM-3:00pm</div>
        </div>
        <div class="event__distance">
            <div class="event__distance-value">0.5</div>
            <div class="event__distance-unit">mi</div>
        </div>
    </div>
    <div class="event">
        <div class="event__duration">
            <div class="event__duration-value">2</div>
            <div class="event__duration-unit">HR</div>
        </div>
        <div class="event__meta">
            <div class="event__title">Tummy Sticks</div>
            <div class="event__location">Cypress Street Pint and Place</div>
            <div class="event__time-block">1:00PM-3:00pm</div>
        </div>
        <div class="event__distance">
            <div class="event__distance-value">0.5</div>
            <div class="event__distance-unit">mi</div>
        </div>
    </div>
    <div class="event">
        <div class="event__duration">
            <div class="event__duration-value">2</div>
            <div class="event__duration-unit">HR</div>
        </div>
        <div class="event__meta">
            <div class="event__title">Tummy Sticks</div>
            <div class="event__location">Cypress Street Pint and Place</div>
            <div class="event__time-block">1:00PM-3:00pm</div>
        </div>
        <div class="event__distance">
            <div class="event__distance-value">0.5</div>
            <div class="event__distance-unit">mi</div>
        </div>
    </div>
    <div class="event">
        <div class="event__duration">
            <div class="event__duration-value">2</div>
            <div class="event__duration-unit">HR</div>
        </div>
        <div class="event__meta">
            <div class="event__title">Tummy Sticks</div>
            <div class="event__location">Cypress Street Pint and Place</div>
            <div class="event__time-block">1:00PM-3:00pm</div>
        </div>
        <div class="event__distance">
            <div class="event__distance-value">0.5</div>
            <div class="event__distance-unit">mi</div>
        </div>
    </div>
</div>
</section>


</body>

</html>