<html>
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="../../public/main.css">
</head>
<body>

<section>
    <div class="landing">
        <div class="landing__title"></div>
        <div class="landing__description"></div>
        <form class="landing__form">
            <div class="landing__inputs">
                <input class="landing__time" type="text" placeholder="start">
                <input class="landing__time"  type="text" placeholder="end">
                <input class="landing__btn" type="submit">
            </div>
        </form>
        <div class="landing__slider">

        </div>

    </div>

</section>


</body>

</html>