html {
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  max-width: 1024px;
  min-width: 320px;
  font-size: 14px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }

div {
  box-sizing: border-box; }

header {
  padding-top: 64px; }

a {
  color: #917f18;
  cursor: pointer; }
  a:hover {
    color: #c40505; }
  a:active {
    color: #c40505; }

input {
  border: none;
  background: none; }
  input:focus {
    outline: none; }

.list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  margin: 15px; }

.event {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #917f18; }
  .event__duration {
    width: 12%;
    height: 65px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-align: center;
        align-items: center;
    color: #c40505;
    font-weight: bold;
    -ms-flex-pack: center;
        justify-content: center;
    border-right: 1px solid #917f18; }
  .event__distance {
    width: 12%;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-align: center;
        align-items: center;
    color: #917f18;
    font-weight: bold;
    -ms-flex-pack: center;
        justify-content: center;
    border-left: 1px solid #c40505; }
  .event__duration-value, .event__distance-value {
    font-size: 18px; }
  .event__duration-unit, .event__distance-unit {
    font-size: 12px; }
  .event__meta {
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: center;
        justify-content: center;
    padding-left: 20px; }
  .event__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; }
  .event__location {
    margin-bottom: 5px; }
  .event__time-location {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
  .event__time-block {
    color: #c40505;
    margin-bottom: 5px; }
  @media screen and (min-width: 501px) and (max-width: 767px) {
    .event__duration-value, .event__distance-value {
      font-size: 20px; }
    .event__duration-unit, .event__distance-unit {
      font-size: 14px; }
    .event__meta {
      width: 85%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
      -ms-flex-pack: center;
          justify-content: center;
      padding-left: 20px; }
    .event__title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px; }
    .event__location {
      font-size: 16px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 501px) {
    .event__time-location {
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-align: center;
          align-items: center; }
    .event__location-link {
      margin-left: 15px; }
    .event__time-block {
      color: #c40505;
      margin-bottom: 0; } }
  @media screen and (min-width: 768px) {
    .event__duration-value, .event__distance-value {
      font-size: 24px; }
    .event__duration-unit, .event__distance-unit {
      font-size: 16px; }
    .event__meta {
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
      -ms-flex-pack: center;
          justify-content: center;
      padding-left: 20px; }
    .event__title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 5px; }
    .event__location {
      font-size: 18px;
      margin-bottom: 5px; }
    .event__time-block {
      font-size: 16px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9iYXNlLnNjc3MiLCJfdmFyaWFibGVzLnNjc3MiLCJjb21wb25lbnRzL2V2ZW50cy1saXN0LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0E7RUFFSSxZQUFXO0VBQ1gsVUFBUztFQUNULFdBQVUsRUFDYjs7QUFHRDtFQUNFLGtCQUFpQjtFQUNqQixpQkFBZ0I7RUFDaEIsZ0JBQWU7RUFDZixZQUFXO0VBQ1gsbUNBQWtDO0VBQ2xDLGVBQWM7RUFDZCxtQkFBa0I7RUFDbEIsdUJBQXNCLEVBQ3ZCOztBQUVEO0VBQ0UsdUJBQXNCLEVBQ3ZCOztBQUVEO0VBQ0Usa0JBQWlCLEVBQ2xCOztBQUVEO0VBQ0UsZUMzQmtCO0VENEJsQixnQkFBZSxFQVNoQjtFQVhEO0lBS0ksZUNoQ2UsRURpQ2hCO0VBTkg7SUFTSSxlQ3BDZSxFRHFDaEI7O0FBR0g7RUFDRSxhQUFZO0VBQ1osaUJBQWdCLEVBS2pCO0VBUEQ7SUFLTSxjQUFhLEVBQ2Q7O0FFL0NMO0VBQ0UscUJBQWE7RUFBYixjQUFhO0VBQ2IsNkJBQXdCO01BQXhCLHlCQUF3QjtFQUN4QixhQUFZLEVBRWI7O0FBRUQ7RUFDRSxxQkFBYTtFQUFiLGNBQWE7RUFDYiwwQkFBcUI7TUFBckIsc0JBQXFCO0VBQ3JCLHVCQUFtQjtNQUFuQixvQkFBbUI7RUFDbkIsZ0JBQWU7RUFDZixpQ0RWa0IsRUNpS25CO0VBckpDO0lBQ0UsV0FBVTtJQUNWLGFBQVk7SUFDWixxQkFBYTtJQUFiLGNBQWE7SUFDYiw2QkFBd0I7UUFBeEIseUJBQXdCO0lBQ3hCLHVCQUFtQjtRQUFuQixvQkFBbUI7SUFDbkIsZURuQmU7SUNvQmYsa0JBQWlCO0lBQ2pCLHNCQUF1QjtRQUF2Qix3QkFBdUI7SUFDdkIsZ0NEckJnQixFQ3NCakI7RUFFRDtJQUNFLFdBQVU7SUFDVixxQkFBYTtJQUFiLGNBQWE7SUFDYixhQUFZO0lBQ1osNkJBQXdCO1FBQXhCLHlCQUF3QjtJQUN4Qix1QkFBbUI7UUFBbkIsb0JBQW1CO0lBQ25CLGVEOUJnQjtJQytCaEIsa0JBQWlCO0lBQ2pCLHNCQUF1QjtRQUF2Qix3QkFBdUI7SUFDdkIsK0JEbENlLEVDbUNoQjtFQUVEO0lBQ0UsZ0JBQWUsRUFDaEI7RUFFRDtJQUNFLGdCQUFlLEVBQ2hCO0VBRUQ7SUFDRSxXQUFVO0lBQ1YscUJBQWE7SUFBYixjQUFhO0lBQ2IsNkJBQXdCO1FBQXhCLHlCQUF3QjtJQUN4QixzQkFBdUI7UUFBdkIsd0JBQXVCO0lBQ3ZCLG1CQUFrQixFQUNuQjtFQUVEO0lBQ0UsZ0JBQWU7SUFDZixrQkFBaUI7SUFDakIsbUJBQWtCLEVBQ25CO0VBRUQ7SUFDRSxtQkFBa0IsRUFDbkI7RUFFRDtJQUNFLHFCQUFhO0lBQWIsY0FBYTtJQUNiLDZCQUF3QjtRQUF4Qix5QkFBd0IsRUFDekI7RUFHRDtJQUNFLGVEdEVlO0lDdUVmLG1CQUFrQixFQUNuQjtFQU9EO0lBRUU7TUFDRSxnQkFBZSxFQUNoQjtJQUVEO01BQ0UsZ0JBQWUsRUFDaEI7SUFFRDtNQUNFLFdBQVU7TUFDVixxQkFBYTtNQUFiLGNBQWE7TUFDYiw2QkFBd0I7VUFBeEIseUJBQXdCO01BQ3hCLHNCQUF1QjtVQUF2Qix3QkFBdUI7TUFDdkIsbUJBQWtCLEVBQ25CO0lBRUQ7TUFDRSxnQkFBZTtNQUNmLGtCQUFpQjtNQUNqQixtQkFBa0IsRUFDbkI7SUFFRDtNQUNFLGdCQUFlO01BQ2Ysb0JBQW1CLEVBQ3BCLEVBQUE7RUFJSDtJQUVFO01BQ0UsMEJBQXFCO1VBQXJCLHNCQUFxQjtNQUNyQix1QkFBbUI7VUFBbkIsb0JBQW1CLEVBQ3BCO0lBRUQ7TUFDRSxrQkFBaUIsRUFDbEI7SUFFRDtNQUNFLGVEMUhhO01DMkhiLGlCQUFnQixFQUNqQixFQUFBO0VBSUg7SUFFRTtNQUNFLGdCQUFlLEVBQ2hCO0lBRUQ7TUFDRSxnQkFBZSxFQUNoQjtJQUVEO01BQ0UsbUJBQWM7VUFBZCxlQUFjO01BQ2QscUJBQWE7TUFBYixjQUFhO01BQ2IsNkJBQXdCO1VBQXhCLHlCQUF3QjtNQUN4QixzQkFBdUI7VUFBdkIsd0JBQXVCO01BQ3ZCLG1CQUFrQixFQUNuQjtJQUVEO01BQ0UsZ0JBQWU7TUFDZixrQkFBaUI7TUFDakIsbUJBQWtCLEVBQ25CO0lBRUQ7TUFDRSxnQkFBZTtNQUNmLG1CQUFrQixFQUNuQjtJQUVEO01BQ0UsZ0JBQWUsRUFDaEIsRUFBQSIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIlxuaHRtbFxue1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIG1hcmdpbjogMDtcbiAgICBwYWRkaW5nOiAwO1xufVxuXG5cbmJvZHkge1xuICBtYXgtd2lkdGg6IDEwMjRweDtcbiAgbWluLXdpZHRoOiAzMjBweDtcbiAgZm9udC1zaXplOiAxNHB4O1xuICBjb2xvcjogIzAwMDtcbiAgZm9udC1mYW1pbHk6ICdSYWxld2F5Jywgc2Fucy1zZXJpZjtcbiAgbWFyZ2luOiAwIGF1dG87XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbn1cblxuZGl2IHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbn1cblxuaGVhZGVyIHtcbiAgcGFkZGluZy10b3A6IDY0cHg7XG59XG5cbmEge1xuICBjb2xvcjogJGJyYW5kLWdvbGQ7XG4gIGN1cnNvcjogcG9pbnRlcjtcblxuICAmOmhvdmVyIHtcbiAgICBjb2xvcjogJGJyYW5kLXJlZDtcbiAgfVxuXG4gICY6YWN0aXZlIHtcbiAgICBjb2xvcjogJGJyYW5kLXJlZDtcbiAgfVxufVxuXG5pbnB1dCB7XG4gIGJvcmRlcjogbm9uZTtcbiAgYmFja2dyb3VuZDogbm9uZTtcblxuICAmOmZvY3VzIHtcbiAgICAgIG91dGxpbmU6IG5vbmU7XG4gICAgfVxufVxuIiwiXG4kYnJhbmQtcmVkOiAjYzQwNTA1O1xuJGJyYW5kLWdvbGQ6ICM5MTdmMTg7XG4kYnJhbmQtZGFyazogIzAwMDAwMDtcblxuXG4kdmlld3BvcnQtc206IFwic2NyZWVuIGFuZCAobWluLXdpZHRoOjMyMHB4KSBhbmQgKG1heC13aWR0aDogNTAwcHgpXCI7XG4kdmlld3BvcnQtbWVkOiBcInNjcmVlbiBhbmQgKG1pbi13aWR0aDo1MDFweCkgYW5kIChtYXgtd2lkdGg6IDc2N3B4KVwiO1xuJHZpZXdwb3J0LWxnOiBcInNjcmVlbiBhbmQgKG1pbi13aWR0aDo3NjhweClcIjtcbiR2aWV3cG9ydHMtbWVkLWxnOiBcInNjcmVlbiBhbmQgKG1pbi13aWR0aDo1MDFweClcIjsiLCIubGlzdCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZmxvdzogY29sdW1uIG5vd3JhcDtcbiAgbWFyZ2luOiAxNXB4O1xuXG59XG5cbi5ldmVudCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZmxvdzogcm93IG5vd3JhcDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgcGFkZGluZzogMjVweCAwO1xuICBib3JkZXItYm90dG9tOiAxcHggc29saWQgJGJyYW5kLWdvbGQ7XG5cbiAgJl9fZHVyYXRpb24ge1xuICAgIHdpZHRoOiAxMiU7XG4gICAgaGVpZ2h0OiA2NXB4O1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1mbG93OiBjb2x1bW4gbm93cmFwO1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgY29sb3I6ICRicmFuZC1yZWQ7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgYm9yZGVyLXJpZ2h0OiAxcHggc29saWQgJGJyYW5kLWdvbGQ7XG4gIH1cblxuICAmX19kaXN0YW5jZSB7XG4gICAgd2lkdGg6IDEyJTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGhlaWdodDogNjVweDtcbiAgICBmbGV4LWZsb3c6IGNvbHVtbiBub3dyYXA7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBjb2xvcjogJGJyYW5kLWdvbGQ7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgYm9yZGVyLWxlZnQ6IDFweCBzb2xpZCAkYnJhbmQtcmVkO1xuICB9XG5cbiAgJl9fZHVyYXRpb24tdmFsdWUsICZfX2Rpc3RhbmNlLXZhbHVlIHtcbiAgICBmb250LXNpemU6IDE4cHg7XG4gIH1cblxuICAmX19kdXJhdGlvbi11bml0LCAmX19kaXN0YW5jZS11bml0IHtcbiAgICBmb250LXNpemU6IDEycHg7XG4gIH1cblxuICAmX19tZXRhIHtcbiAgICB3aWR0aDogNzAlO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1mbG93OiBjb2x1bW4gbm93cmFwO1xuICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICAgIHBhZGRpbmctbGVmdDogMjBweDtcbiAgfVxuXG4gICZfX3RpdGxlIHtcbiAgICBmb250LXNpemU6IDE2cHg7XG4gICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgbWFyZ2luLWJvdHRvbTogNXB4O1xuICB9XG5cbiAgJl9fbG9jYXRpb24ge1xuICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgfVxuXG4gICZfX3RpbWUtbG9jYXRpb24ge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1mbG93OiBjb2x1bW4gbm93cmFwO1xuICB9XG5cblxuICAmX190aW1lLWJsb2NrIHtcbiAgICBjb2xvcjogJGJyYW5kLXJlZDtcbiAgICBtYXJnaW4tYm90dG9tOiA1cHg7XG4gIH1cblxuICAmX19kZXNjcmlwdGlvbiB7XG5cbiAgfVxuXG5cbiAgQG1lZGlhICN7JHZpZXdwb3J0LW1lZH0ge1xuXG4gICAgJl9fZHVyYXRpb24tdmFsdWUsICZfX2Rpc3RhbmNlLXZhbHVlIHtcbiAgICAgIGZvbnQtc2l6ZTogMjBweDtcbiAgICB9XG5cbiAgICAmX19kdXJhdGlvbi11bml0LCAmX19kaXN0YW5jZS11bml0IHtcbiAgICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICB9XG5cbiAgICAmX19tZXRhIHtcbiAgICAgIHdpZHRoOiA4NSU7XG4gICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAgZmxleC1mbG93OiBjb2x1bW4gbm93cmFwO1xuICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgICBwYWRkaW5nLWxlZnQ6IDIwcHg7XG4gICAgfVxuXG4gICAgJl9fdGl0bGUge1xuICAgICAgZm9udC1zaXplOiAxOHB4O1xuICAgICAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gICAgICBtYXJnaW4tYm90dG9tOiA1cHg7XG4gICAgfVxuXG4gICAgJl9fbG9jYXRpb24ge1xuICAgICAgZm9udC1zaXplOiAxNnB4O1xuICAgICAgbWFyZ2luLWJvdHRvbTogMTBweDtcbiAgICB9XG5cbiAgfVxuXG4gIEBtZWRpYSAjeyR2aWV3cG9ydHMtbWVkLWxnfSB7XG5cbiAgICAmX190aW1lLWxvY2F0aW9uIHtcbiAgICAgIGZsZXgtZmxvdzogcm93IG5vd3JhcDtcbiAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgfVxuXG4gICAgJl9fbG9jYXRpb24tbGluayB7XG4gICAgICBtYXJnaW4tbGVmdDogMTVweDtcbiAgICB9XG5cbiAgICAmX190aW1lLWJsb2NrIHtcbiAgICAgIGNvbG9yOiAkYnJhbmQtcmVkO1xuICAgICAgbWFyZ2luLWJvdHRvbTogMDtcbiAgICB9XG5cbiAgfVxuXG4gIEBtZWRpYSAjeyR2aWV3cG9ydC1sZ30ge1xuXG4gICAgJl9fZHVyYXRpb24tdmFsdWUsICZfX2Rpc3RhbmNlLXZhbHVlIHtcbiAgICAgIGZvbnQtc2l6ZTogMjRweDtcbiAgICB9XG5cbiAgICAmX19kdXJhdGlvbi11bml0LCAmX19kaXN0YW5jZS11bml0IHtcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICB9XG5cbiAgICAmX19tZXRhIHtcbiAgICAgIGZsZXg6IDEgMSBhdXRvO1xuICAgICAgZGlzcGxheTogZmxleDtcbiAgICAgIGZsZXgtZmxvdzogY29sdW1uIG5vd3JhcDtcbiAgICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICAgICAgcGFkZGluZy1sZWZ0OiAyMHB4O1xuICAgIH1cblxuICAgICZfX3RpdGxlIHtcbiAgICAgIGZvbnQtc2l6ZTogMjJweDtcbiAgICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgICAgbWFyZ2luLWJvdHRvbTogNXB4O1xuICAgIH1cblxuICAgICZfX2xvY2F0aW9uIHtcbiAgICAgIGZvbnQtc2l6ZTogMThweDtcbiAgICAgIG1hcmdpbi1ib3R0b206IDVweDtcbiAgICB9XG5cbiAgICAmX190aW1lLWJsb2NrIHtcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcbiAgICB9XG4gIH1cblxufSJdfQ== */
