.drawer {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  transition: left 0.2s ease-in;
  padding: 30px;
  background-color: #FFF;
  border: 1px solid $brand-gold;
  border-right: none;

  &.active {
    left: 0;
    z-index: 1000;
  }

  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow-x: hidden;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid $brand-red;
    border-bottom: 1px solid $brand-gold;
  }
}