.drawer {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  transition: left 0.2s ease-in;
  padding: 30px;
  background-color: #FFF;
  border: 1px solid $brand-gold;

  &.active {
    left: 0;
    z-index: 1000;
  }

  &__container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    overflow-x: hidden;
  }

  &__content {

  }

  &__dexcription {

  }

  &__map {
    width: 100%;
  }
}