.activities {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;

  &__order {
      position: absolute;
      display: none;
      top: 5px;
      left: 5px;
      font-size: 16px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #FFF;
      align-items: center;
      justify-content: center;


    }

  &__btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: calc(50% - 5px);
    padding: 30px 10px;
    box-sizing: border-box;
    background: $marta-blue;
    border: none;
    color: #FFF;
    margin-bottom: 10px;
    transition: background 0.1s ease-in;
    font-weight: bold;
    font-size: 18px;

    &.selected {
      background: #000;
      border-bottom: 5px solid $marta-orange;
      position: relative;
      padding: 30px 10px 25px;



      &:after {
        position: absolute;
        content: " ";
        left: 0;
        width: 100%;
        height: 10px;
        top: calc(100% - 10px);
        z-index: 2;
        background: $marta-blue;

      }

      &:before {
        position: absolute;
        content: " ";
        left: 0;
        width: 100%;
        height: 5px;
        top: calc(100% - 5px);
        z-index: 3;
        background: $marta-yellow;
      }

      .activities__order {
        display: flex;
      }

    }


    i {
      margin-left: 15px;
    }
  }

}