.carousel {

  &__slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid $brand-red;
    border-bottom: 1px solid $brand-gold;
  }

  &__slide-title {
    width: 100%;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  }

  &__next-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    background: $brand-green;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
    padding: 20px 15px;
    margin: 10px 15px;
    font-size: 16px;
    text-transform: uppercase;
    box-sizing: border-box;

    &:disabled {
      background: #FFF;
      border: 1px solid $brand-green;
      color: $brand-green;
    }

    i {
      margin-left: 15px;
      font-size: 18px;
    }

  }


}