.carousel {
  width: 300%;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.2s ease-in;
  display: flex;
  flex-flow: row nowrap;

  &__container {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    height: 100%;
  }


  &__slide {
    width: 33%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0;
    padding: 15px 0;
    overflow-y: scroll;
  }

  &--second-slide {
    left: -99%;
  }

  &--third-slide {
    left: -198%;
  }

  &__slide-title {
    width: 100%;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
  }

  &__next-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    background: $marta-blue;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
    padding: 20px 15px;
    margin: 10px 15px;
    font-size: 16px;
    text-transform: uppercase;
    box-sizing: border-box;

    &:disabled {
      background: #FFF;
      border: 1px solid $marta-blue;
      color: $marta-blue;
    }

    i {
      margin-left: 15px;
      font-size: 18px;
    }

  }


}