.list {
  display: flex;
  flex-flow: column nowrap;
  margin: 15px;

}

.event {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #000;

  &__duration {
    width: 12%;
    height: 65px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: $marta-blue;
    font-weight: bold;
    justify-content: center;
    border-right: 1px solid $marta-blue;
  }

  &__distance {
    width: 12%;
    display: flex;
    height: 65px;
    flex-flow: column nowrap;
    align-items: center;
    color: $marta-orange;
    font-weight: bold;
    justify-content: center;
    border-left: 1px solid $marta-orange;
  }

  &__duration-value, &__distance-value {
    font-size: 18px;
  }

  &__duration-unit, &__distance-unit {
    font-size: 12px;
  }

  &__meta {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 20px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__location {
    margin-bottom: 5px;

    .fa {
      margin-left: 15px;
    }
  }

  &__time-location {
    display: flex;
    flex-flow: column nowrap;
  }


  &__time-block {
    color: $marta-orange;
    margin-bottom: 5px;
  }

  &__description {

  }

  &--gold-line {

    .event__location {
      color: rgba(247, 205, 48, 1);
    }
  }

  &--blue-line {
    .event__location {
      color: rgba(62, 120, 218, 1);
    }
  }

  &--red-line {
    .event__location {
      color: rgba(232, 25, 25, 1);
    }
  }

  &--green-line {
    .event__location {
      color: rgba(39, 148, 156, 1);
    }
  }


  @media #{$viewport-med} {

    &__duration-value, &__distance-value {
      font-size: 20px;
    }

    &__duration-unit, &__distance-unit {
      font-size: 14px;
    }

    &__meta {
      width: 85%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding-left: 20px;
    }

    &__title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &__location {
      font-size: 16px;
      margin-bottom: 10px;
    }

  }

  @media #{$viewports-med-lg} {

    &__time-location {
      flex-flow: row nowrap;
      align-items: center;
    }

    &__location-link {
      margin-left: 15px;
    }

    &__time-block {
      color: $marta-orange;
      margin-bottom: 0;
    }

  }

  @media #{$viewport-lg} {

    &__duration-value, &__distance-value {
      font-size: 24px;
    }

    &__duration-unit, &__distance-unit {
      font-size: 16px;
    }

    &__meta {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding-left: 20px;
    }

    &__title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &__location {
      font-size: 18px;
      margin-bottom: 5px;
    }

    &__time-block {
      font-size: 16px;
    }
  }

}